<p-table 
    [value]="orders" 
    [lazy]="true" 
    (onLazyLoad)="loadOrdersLazy($event)"
    [tableStyle]="{ 'min-width': '50rem' }"
    [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th>Customer Name</th>
            <th>Delivery Type</th>
            <th>Status</th>
            <th>Total Price</th>
            <th></th>
        </tr>        
        <tr>
            <th>
                <p-columnFilter type="text" field="customerName" [matchModeOptions]="matchModeOptions"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="deliveryType" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="deliveryTypeOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="statusOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="numeric" field="TotalPrice" matchMode="equals" [showMenu]="false"></p-columnFilter>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr>
            <td>{{ order.customerName }}</td>
            <td>{{ order.deliveryType === 0 ? "Home" : "Shop" }}</td>
            <td>
                <span class="status" style="background-color: #0284C7;" *ngIf="order.status === 0">Open</span>
                <button (click)="changeStatus(3, order.id)" class="status" style="background-color: green;" *ngIf="order.status === 1">Confirmed</button>
                <button (click)="changeStatus(3, order.id)" class="status" style="background-color: #DC2626;" *ngIf="order.status === 2">Canceled</button>
                <button (click)="changeStatus(4, order.id)" class="status" style="background-color: green;" *ngIf="order.status === 3">Delivered</button>
                <span class="status" style="background-color: gray;" *ngIf="order.status === 4">Closed</span>
            </td>
            <td>{{ order.totalPrice }} SAR</td>
            <td>
                <div class="col-md-6 col-12">
                    <p-button (onClick)="navigateToProduct(order.items)"  label="Products" severity="info" />
                </div>
            </td>
           
        </tr>
    </ng-template>
</p-table>
<div class="flex-auto mt-4">
    <p-paginator locale="en-US" (onPageChange)="onPageChange($event)" [first]="first" [rows]="10"
        [totalRecords]="totalCount"></p-paginator>
</div>