

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.3;
    position: fixed;
    z-index: 1;
}

.loader {
    position: fixed;
    top: 40%;
    left: 50%;
    z-index: 2;
}