<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="flex flex-column gap-2">
            <div class="text-center">
                <div>
                    <img class="mt-4" src="assets/ICON.png" width="50px" height="50px" alt="">
                </div>
                <div class="mt-2">
                    <img src="assets/textEN.png" width="300px" height="50px" alt="">
                </div>
            </div>
            <div class="input">
                <label for="email">Email</label>
                <input pInputText type="email"
                    [ngClass]="submitted && loginForm.get('email')?.invalid ? 'ng-invalid ng-dirty' : ''" id="email"
                    aria-describedby="email-help" formControlName="email" />
                <span *ngIf="submitted && loginForm.get('email')?.errors?.['required']" class="invalid">
                    Email is required
                </span>
                <span *ngIf="submitted && loginForm.get('email')?.errors?.['email']" class="invalid">
                    Enter A Valid Email Address
                </span>
            </div>
            <div class="input">
                <label for="password">Password</label>
                <p-password formControlName="password">
                    <ng-template pTemplate="header">
                        <h6>PickAPassword</h6>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-divider></p-divider>
                        <p class="mt-2">Suggestions</p>
                        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                            <li>At Least One Lowercase</li>
                            <li>At Least One Uppercase</li>
                            <li>At Least One Numeric</li>
                            <li>Minimum 8 Characters</li>
                        </ul>
                    </ng-template>
                </p-password>
                <span *ngIf="submitted && loginForm.get('password')?.errors?.['required']" class="invalid">
                    Password isRequired
                </span>
                <span *ngIf="submitted && loginForm.get('password')?.errors?.['pattern']?.['requiredPattern']"
                    class="invalid">
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                        <li>At Least One Lowercase</li>
                        <li>At Least One Uppercase</li>
                        <li>At Least One Numeric</li>
                        <li>Minimum 8 Characters</li>
                    </ul>
                </span>
            </div>
        </div>
        <div class="footer">
            <p-button type="submit" label="Login"></p-button>
        </div>
    </form>
</div>