<p-table [value]="items" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>image</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Attribute Name</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Product>
        <tr>
            <td>{{ Product.productName }}</td>
            <td>
                <img style="width: 43px; height: 43px;" class="d-block"
                    [src]="sanitizationImage(Product.productImage)" alt="">
            </td>
            <td> {{Product.totalPrice}} SAR</td>
            <td> {{Product.productQty}}</td>
            <td> 
                <span *ngIf="Product.attributeName">{{Product.attributeName}}</span>
                <span *ngIf="!Product.attributeName">N/A</span>
            </td>
        </tr>
    </ng-template>
</p-table>