<form [formGroup]="categoryForm" (ngSubmit)="SaveData()">
    <div class="card p-5 mt-5 mb-2">
        <div class="row">
            <div class="col-md-6 col-12">
                <label>Name</label>
                <input type="text" formControlName="name" class="form-control">
                <span class="text-danger" *ngIf="submitted && categoryForm.get('name')?.errors?.['required']">
                    Name is required
                </span>
            </div>
            <div class="col-md-6 col-12">
                <label>Name Arabic</label>
                <input type="text" formControlName="nameAr" class="form-control">
                <span class="text-danger" *ngIf="submitted && categoryForm.get('nameAr')?.errors?.['required']">
                    Name Arabic is required
                </span>
            </div>
            <div class="col-md-6 col-12">
                <label>Description</label>
                <input type="text" formControlName="description" class="form-control">
                <span class="text-danger" *ngIf="submitted && categoryForm.get('description')?.errors?.['required']">
                    Description is required
                </span>
            </div>
            <div class="col-md-6 col-12">
                <label>Description Arabic</label>
                <input type="text" formControlName="descriptionAr" class="form-control">
                <span class="text-danger" *ngIf="submitted && categoryForm.get('descriptionAr')?.errors?.['required']">
                    Description Arabic is required
                </span>
            </div>
            <div class="col-md-6 col-12">
                <label>Parent category</label>
                <p-dropdown [options]="categories" formControlName="parentId" optionLabel="name" [filter]="true"
                    filterBy="name" [showClear]="true" placeholder="Parent category">
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <div class="flex align-items-center gap-2">
                            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + selectedOption.id" style="width: 18px" />
                            <div>{{ selectedOption.name }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-selectedOption pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + selectedOption.id" style="width: 18px" />
                            <div>{{ selectedOption.name }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="col-md-6 col-12 mt-3">
                <input type="checkbox" formControlName="isSelected">
                <label class="ps-2">Is Selected</label>
            </div>
            <div class="col-12 text-end m-2">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </div>
</form>